<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon.png">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/login.css" rel="stylesheet">
    <link href="../static/assets/css/responsive.css" rel="stylesheet">
</head>
<body>
    <header id="masthead" class="site-header site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="site-title"><span>Brain</span> Tumor Detection</a>
                </div>
                <div class="collapse navbar-collapse" id="agency-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('first')}}">Home</a></li>
                        <li class="active"><a href="{{url_for('login')}}">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="hero" class="hero overlay subpage-hero portfolio-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Login</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{url_for('first')}}">Brain Tumor Classification </a></li>
                </ol>
            </div>
        </div>
    </div>
    <main id="main" class="site-main">
        <section class="site-section section-ui-elements">
            <div class="container">
                <div class="typography">
                    <h2 class="text-center heading-separator">Login</h2>
                    <div class="col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
                        <form method="POST" action="{{ url_for('login') }}">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row"></div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
</body>
</html>

